# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.tar
*.sh
*.csv

# Distribution / packaging
.Python
env/
dataset/
build/
develop-eggs/
dist/
downloads/
venv/
eggs/
dataset/
parts/
csv/
pics/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/


matlab-workspace
export-files

.idea
*.jpg
*.png
*.log
*.aac
*.ogg
*.3gp
*.pid
.DS_Store
.pyc
workspace.xml
gmission_client.pyc
.idea/
